
@{
    ViewBag.Title = "New Rental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Rental</h2>

<form>
    <div class="form-group">
        <label for="customer">Customer</label>
        <input id="customer" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="movies">Movie</label>
        <input id="movies" type="text" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $( "#customer" ).autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "/api/customers",
                        dataType: "json",
                        data: {
                            q: request.term
                        },
                        success: function( data ) {
                            response( data );
                        }
                    });
                },
                minLength: 2,
                select: function( event, ui ) {
                    log( ui.item ?
                        "Selected: " + ui.item.label :
                        "Nothing selected, input was " + this.value);
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });
        });
    </script>
}
